page-edit {

}

.edit-title {
    display: flex;
    align-items: center;
}
.edit-title div {
    width: 100%;
    height: 100%;
}

.edit-name {
direction: rtl;
}

.edit-icon {
    direction: ltr;
}

.mapover {
    margin-top: 20px;
    margin-bottom: 15px;
}