<ion-header>
  <ion-navbar>
    <ion-title>

          <span> ساعد </span>
          <div class="logcs">
              <ion-icon text-left (click)="logout()" name="ios-power-outline"></ion-icon>
          </div>


    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content >

  <div class="secpage">

      <div class="mail">
          <ion-icon  (click)="openMyAlarm()" name="megaphone"></ion-icon>
        </div>

        

    <div class="addhelp">
        <ion-icon name="medkit" (click)="volunteer()"></ion-icon>
    </div>

    <div class="addnew">
        <ion-icon (click)="add()" name="ios-bonfire"></ion-icon>

    </div>


  </div>

  <div class="loading">
    <div class="load-content">
      <div class="loadtitlle">
        <p>جاري التحميل</p>
      </div>
      <div class="loadicon">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
      </div>
    </div>
  </div>

    <ion-card style="margin: 10px 0px 10px 0px; width: 100%;" *ngFor="let item of list | async | reverse">

            <div [id]="item.map" #item.map style="width: 100%; height: 250px;overflow: hidden;"></div>

        <ion-item>
          <ion-icon name="md-person" item-end large></ion-icon>
          <h2> {{ item.name }} </h2>
          <p>{{item.date}}</p>
        </ion-item>
      
        <ion-item>
          <ion-icon name="md-pin" item-end large ></ion-icon>
          <h2>{{item.problem}}</h2>
          <p> {{ item.addr }} </p>
        </ion-item>
      
        <ion-item>
          
          <button *ngIf="item.checkproblem" ion-button icon-start clear item-start (click)="help(true,false,item.map2,item.lat,item.lng,item.problem,item.addr,item.des,item.name,item.date,item.markname,item.color)" >
            <ion-icon style="color: #137cff;font-size: 16px;" name="ios-body"></ion-icon>
            <p style="color: #137cff; font-size: 17px;">تطوع</p>
          </button>

          <button *ngIf="item.voulnteer" ion-button icon-start clear item-start (click)="request(false,true,item.map2,item.lat,item.lng,item.problem,item.addr,item.des,item.name,item.date,item.markname,item.color)" >
              <ion-icon style="color: #137cff;font-size: 16px;" name="ios-body"></ion-icon>
              <p style="color: #137cff; font-size: 17px;">طلب</p>
            </button>

          <button (click)="callNumber(item.phone)" ion-button icon-start clear item-end *ngIf="item.checkPhone">
              <ion-icon style="color: #137cff;font-size: 16px;" name="md-call"></ion-icon>
              <p style="color: #137cff; font-size: 17px;">اتصل</p>
            </button>

        </ion-item>
      
      </ion-card>


</ion-content>

<ion-footer>
    <ion-toolbar>
     
<div class="fotcont">

<div class="home">
<ion-icon name="ios-home-outline"></ion-icon>
<p>الرئيسية</p>
</div>

<div class="map" (click)="openMap()">
    <ion-icon name="ios-map-outline"></ion-icon>
    <p>الخريطة</p>
    </div>

    <div class="myalarm" >
        <ion-icon name="ios-mail-outline"></ion-icon>
        <p>راسل</p>
        </div>

        <div class="myinfo" (click)="myinfo()" >
            <ion-icon name="ios-information-circle-outline"></ion-icon>
            <p>حول</p>
            </div>

</div>

    </ion-toolbar>
  </ion-footer>