page-info {

}

page-info .toolbar-title-md span{
    float: right;
}

.list-header-md {

    margin-bottom: 5px;
    border-top: 0;
    margin-top: 21px;

}

page-info .label-md {
    margin-bottom: 0px !important;

}